@media screen and (max-width:395px){
* {
    margin: 0px;
    padding: 0px;
}

.navbarContainer {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 390px;
    height: 56px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 390px;
    max-width: 1200px;
    height: 56px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

#logoImg {
    width: 68px;
    height: 38px;
    margin-right: 34px;
}

.navbarMenu {
    display: none;
}

.navbarMenu li{
    margin-right: 30px;
    color: #4D4159;
    font-size: 18px;
    font-weight: 600;
}

#orange {
    color: #ff6f0f;
}

#search {
    width: 288px;
    height: 40px;
    background-color: #f2f3f6;
    border: none;
    border-radius: 5px;
    padding-left: 9px;
    font-size: 16px;
    margin-right: 12px;
    margin-left: auto;
    display: none;
}

#chatBtn {
    width: 97.6px;
    height: 40px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #c4c5ca;
    border-radius: 5px;
    display: none;
}

#searchBtn {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

#menuBtn {
    display: block;
    width: 24px;
    height: 24px;
}

.headerContainer {
    position: relative;
    padding: 24px 16px 0px;
    height: 356px;
    background-color: #ffe2d2;
    display: flex;
    justify-content: center;
}

.header {
    width: 390px;
    display: flex;
    flex-direction: column;
}

#headerText1 {
    margin-top: 48px;
}

#headerText2 {
    display: none;
}

#headerBtn {
    width: 94px;
    height: 34px;
    background-color: #ff6f0f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
}

#headerImg {
    position: absolute;
    height: 160px;
    width: auto;
    bottom: 0;
    margin-left: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
}

#mainText {
    width: 358px;
    max-width: 768px;
    margin: 40px 0px 0px;
    font-size: 20px;
    font-weight: 600;
}

.itemContainer {
    width: 358px;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    display: flex;
    width: 371px;
    height: 116px;
    padding: 20px 0px;
}

.itemImg {
    width: 108px;
    height: 108px;
    object-fit: cover;
    border-radius: 8px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.itemTitle {
    font-size: 16px;
    margin-bottom: 4px;
}

.itemLocation {
    font-size: 13px;
    color: #868b94;
    margin-bottom: 4px;
}

.itemWage {
    font-size: 15px;
    font-weight: 700;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f1eb;
    width: 310px;
    height: 118px;
    border-radius: 5px;
    margin: 0px;
    padding: 24px;
}

#bannerImg {
    display: none;
    width: 72px;
    height: 72px;
}

#bannerText {
    margin-left: 0px;
    width: 310px;
    font-size: 16px;
    font-weight: 700;
}

.btnContainer {
    display: flex;
}

#bannerBtn1 {
    width: 105.79px;
    height: 40px;
    background-color: #ff6f0f;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#bannerBtn2 {
    width: 72px;
    height: 40px;
    background-color: #ff6f0f24;
    color: #ff6f0f;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
}